section {
  display: flex;
  flex-wrap: wrap;
  > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.3rem;
    padding: 0.4rem;
    min-width: 300px;
    max-width: 300px;
    min-height: 50px;
    max-height: 50px;

    &:hover {
      background-color: #eee;
    }

    > img {
      margin-right: 0.7rem;
    }
  }
}
